// Place all the styles related to the auditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myPublisherDiv {
  //width: 264px;
  //height: 198px;
  width: 164px;
  height: 98px;
  overflow: hidden;
  float: right;
  position: relative;
  clear: none;
}

div .OT_subscriber {
  width: 564px;
  height: 498px;
}